#search-form {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 56px 16px 16px 16px;
  background-color: $brand-color;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
}

#search-input {
  display: block;
  margin: 80px auto 0 auto;
  padding: 8px;
  max-width: 500px;
  width: 80%;
  outline: 0;
  border: 1px solid $light-brand-color;
  border-radius: 2px;
  color: #CCCCCC;
  font-size: 1.3em;
  transition: all 0.2s;
}

#search-input.active {
  border: 1px solid #FFFFFF;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.40);
  color: #222222;
}

#search-results {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 640px;
  width: 90%;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.30);
  opacity: 0;
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
}

#search-results.show {
  margin-top: 200px;
  opacity: 1.0;
}

#search-results li {
  padding: 16px;
  border-bottom: 1px solid #DDDDDD;
  list-style: none;
  cursor: pointer;
}

#search-results li:hover {
  background: $lighter-grey;
}

#search-results li:last-child {
  border-bottom: 0;
}

#search-results li.no-results {
  color: #888888;
  text-align: center;
  cursor: default;
}

#search-results li.no-results:hover {
  background: transparent !important;
}

//LOINC Item
.loinc-num {
  display: block;
  color: $mid-grey;
}
.name {
  display: block;
  margin: 0 0 4px 0;
  font-weight: 600;
}

.alt-name {
  display: block;
  font-weight: 400 !important;
}

.method, .time-aspect, .units, .util {
  display: block;
  color: $mid-grey;
  text-align: right;
}

.property, .system {
  display: block;
  color: $mid-grey;
}
.other span {
  color: $mid-light-grey !important;
  font-weight: 400 !important;
}